@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*===============
Reusable Elements
===============*/
.container{
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    box-sizing: border-box;
}
.btn{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 17px 26px;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 15px 20px rgb(36, 36, 36, 0.1);
}
p{
    font-size: 16px;
    line-height: 28px;
}
h1{
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
}
h2{
    font-size: 38px;
    font-weight: 500;
    line-height: 53px;
}
h3{
    font-size: 20px;
    font-weight: 500;
}
h5{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #feb82c;
}
/*============
Header Section
============*/
.header{
    background: linear-gradient(-225deg, rgb(31, 193, 169), rgb(39, 139, 166));
    height: 800px;
}
.header .nav{
    display: flex;
    width: 100%;
    height: 75px;
    align-items: flex-end;
    justify-content: space-between;
}
.nav .logo{
    width: 100px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 50px;
}
.header-content{
    display: flex;
    height: 700px;
    width: 100%;
    position: relative;
}
.header-content .left-col-header{
    padding-top: 190px;
    z-index: 1;
    position: absolute;
}

.header-content .left-col-header h1{
    color: #fff;
    padding-bottom: 25px;
}
.header-content .left-col-header p{
    color: rgb(255, 255, 255, 0.7);
    padding-bottom: 25px;
}
.header-btn{
    color: rgb(31, 193, 169);
    background: #fff;
}

.header-btn:hover{
    box-shadow: none;
}
.header-btn2{
    color: #fff;
    background: none;
}
.header-play-icon{
    width: 8px;
    padding-right: 12px;
}
.header-content .right-col-header{
    right: 0;
    z-index: 0;
    position: absolute;
}
.header-content .right-col-header img{
    width: 550px;
}

/*===========
About Section
===========*/
.about{
    height: 1080px;
}
.about .offers{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: -80px;
}
.offers .offer-items{
    background-color: #5579FA;
    margin-right: 10px;
    padding: 40px 35px;
}
.offers .offer-items img{
    width: 60px;
    padding-bottom: 18px;
}
.offers .offer-items h3{
    color: #fff;
    padding-bottom: 15px;
}
.offers .offer-items p{
    color: rgb(255, 255, 255, 0.7);
}



.about .about-details{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 130px;
}
.about-details .image{
    flex-basis: 48%;
    height: 500px;
    width: 550px;
    overflow: hidden;
    border-radius: 50% 50% 0 50%;
    /* margin-right: 25px; */
}
.about-details .image img{
    height: 500px;
    width: auto;
    margin-left: -100px;
}


.about-details .details{
    flex-basis: 48%;
    /* margin-left: 25px; */
}
.about-details .details h5{
    padding-top: 25px;
    padding-bottom: 6px;
}
.about-details .details h2{
    color: #383838;
    padding-bottom: 25px;
}
.about-details .details p{
    color: #969696;
    padding-bottom: 20px;
}
.about-details .details .about-btn{
    color: #fff;
    background-color: rgb(31, 193, 169);
}
.about-details .details .about-btn:hover{
    box-shadow: none;
}
