@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*===============
Reusable Elements
===============*/
.container{
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    box-sizing: border-box;
}
.btn{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 17px 26px;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 25px 30px rgb(36, 36, 36, 0.1);
}
p{
    font-size: 16px;
    line-height: 28px;
    color: #969696;
}
h1{
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
}
h2{
    font-size: 38px;
    font-weight: 500;
    line-height: 53px;
    color: #383838;
}
h3{
    font-size: 20px;
    font-weight: 500;
    
}
h4{
    font-size: 22px;
    font-weight: 500;
    color: #383838;
}
h5{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #feb82c;
}
/*============
Header Section
============*/
.header{
    background: linear-gradient(-225deg, rgb(31, 193, 169), rgb(39, 139, 166));
    height: 800px;
}
.header .nav{
    display: flex;
    width: 100%;
    height: 75px;
    align-items: flex-end;
    justify-content: space-between;
}
.nav .logo{
    width: 100px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 50px;
}
.header-content{
    display: flex;
    height: 700px;
    width: 100%;
    position: relative;
}
.header-content .left-col-header{
    padding-top: 190px;
    z-index: 1;
    position: absolute;
}

.header-content .left-col-header h1{
    color: #fff;
    padding-bottom: 25px;
}
.header-content .left-col-header p{
    color: rgb(255, 255, 255, 0.7);
    padding-bottom: 25px;
}
.header-btn{
    color: rgb(31, 193, 169);
    background: #fff;
}

.header-btn:hover{
    box-shadow: none;
}
.header-btn2{
    color: #fff;
    background: none;
    box-shadow: none;
}
.header-play-icon{
    width: 8px;
    padding-right: 12px;
}
.header-content .right-col-header{
    right: 0;
    z-index: 0;
    position: absolute;
}
.header-content .right-col-header img{
    width: 550px;
}

/*===========
About Section
===========*/
.about{
    height: 1080px;
}
.about .offers{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: -80px;
}
.offers .offer-items{
    background-color: #5579FA;
    margin-right: 10px;
    padding: 40px 35px;
    cursor: pointer;
}
.offers .offer-items img{
    width: 60px;
    padding-bottom: 18px;
}
.offers .offer-items h3{
    color: #fff;
    padding-bottom: 15px;
}
.offers .offer-items p{
    color: rgb(255, 255, 255, 0.7);
}

.offer-items:hover{
    background-color: #fff;
    transition: 0.3s;
    box-shadow: 0 5px 40px rgb(0, 0, 0, 0.05);
}
.offer-items:hover h3{
    color: #383838;
    transition: 0.3s;
}
.offer-items:hover p{
    color: #969696;
    transition: 0.3s;
}






.about .about-details{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 130px;
}
.about-details .image{
    flex-basis: 48%;
    height: 500px;
    width: 550px;
    overflow: hidden;
    border-radius: 50% 50% 0 50%;
    /* margin-right: 25px; */
}
.about-details .image img{
    height: 500px;
    width: auto;
    margin-left: -100px;
}


.about-details .details{
    flex-basis: 48%;
}
.about-details .details h5{
    padding-top: 25px;
    padding-bottom: 6px;
}
.about-details .details h2{
    color: #383838;
    padding-bottom: 25px;
}
.about-details .details p{
    color: #969696;
    padding-bottom: 20px;
}
.about-details .details .about-btn{
    color: #fff;
    background-color: rgb(31, 193, 169);
}
.about-details .details .about-btn:hover{
    box-shadow: none;
}
/*===================
Project Count Section
===================*/
.projects-count{
    height: 230px;
    width: 100%;
    background-color: #5776e7;
    background-image: url('img/project-count.jpg');
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .85;
    background: #5579fa;
}
.project-count-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-count-content div{
    text-align: center;
}
.project-count-content div h1{
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}
.project-count-content div p{
    color: rgb(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.projects-count .container{
    padding-top: 80px;
}

/*=============
Service Section
=============*/

.service{
    height: 1100px;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #F4F6FF;
}
.service h5{
    padding-top: 120px;
    padding-bottom: 8px;
}
.service h2{
    color: #383838;
    padding-bottom: 70px;
}
.all-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
}
.all-services .small-section{
    background-color: #fff;
    padding: 20px 30px 50px;
}
.all-services small-section:nth-child(4){
    margin-right: 0;
}
.all-services div h4{
    padding-bottom: 15px;
}
.icon-box{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(31, 193, 169);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 3px rgb(26, 156, 137);
}
.icon-box:hover{
    background-color: #5579FA;
    box-shadow: 0 5px #3654c2;
    transition: 0.2s;
}
.icon-box img{
    display: block;
    left: 0;
    top: 0;
    transform: translate(50%, 50%);
    height: 50px;
    width: 50px;
}

/*=============
Project Section
=============*/
.projects-percent{
    min-height: 1000px;
    margin-top: 100px;
}
.projects-percent .skills{
    display: flex;
    justify-content: space-between;
}
.skills .skill-left{
    flex-basis: 50%;
}
.skills .skill-right{
    flex-basis: 20%;
}
.projects-percent .skills .skill-left p{
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 20px;
}
.skills .skill-left button{
    color: #B088F9;
    background: none;
    border: 1px solid #B088F9;
}
.skills .skill-left button:hover{
    color: #fff;
    background: #B088F9;
    box-shadow: none;
}




.skills .skill-right ul li{
    list-style: none;
    padding: 10px 0;
}
.percent{
    display: block;
    height: 12px;
    width: 350px;
    background: #F2F2F2;
    position: relative;
}
.percent div{
    position: absolute;
    height: 100%;
    background: #B088F9;
    color: #fff;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    overflow: hidden;
    border-radius: 2px;
    
}
.skill-title{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #B088F9;
    padding-bottom: 5px;
}



.project{
    text-align: center;
    margin-top: 60px;
}
.project h2{
    margin-top: 10px;
    margin-bottom: 70px;
}
.project nav ul li{
    display: inline-block;
    list-style: none;
    padding: 3px 5px;
}
.project nav ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #969696;
    padding: 5px 10px;
    border-radius: 3px;
    border: 0.1px solid rgb(163, 163, 163, 0.2);
}
.project nav ul li .select{
    background: #5579FA;
    color: #fff;
}




.image-gallery{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}
.img-gallery{
    min-height: 200px;
    width: auto;
}
.img-gallery .img{
    height: 340px;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.img-gallery .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-gallery .details{
    padding-left: 20px;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(202, 202, 202, 0.5);
    box-sizing: border-box;
}
.img-gallery .details:hover{
    background-color: #E0D1FD;
    transition: 0.3s;
}

.img-gallery .details h4{
    padding-top: 20px;
}

/*==========
Team Section
==========*/

.team{
    height: 870px;
    width: auto;
    text-align: center;
    background-color: #B088F9;
}

.team h5{
    color: #fff;
    padding-top: 120px;
}
.team h2{
    color: #fff;
    padding-top: 10px;
}
.members{
    margin-top: 170px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-between;
}
.person{
    background-color: #fff;
    border-radius: 5px;
}
.person:hover{
    background-color: #FEB82C;
    transition: 0.5s;
}
.person:hover h4{
    color: #fff;
}
.person:hover h5{
    color: #fff;
}

.person:hover p{
    color: #fff;
}
.person:hover .social-icons ul li{
    background-color: #FECD6C;
}

.person h4{
    margin-top: -90px;
    font-size: 20px;
}

.person h5{
    /* margin-top: -50px; */
    color: rgb(31, 193, 169);
    letter-spacing: 0;
    padding-bottom: 15px;
    padding-top: 10px;
    font-weight: 600;
}
.person p{
    padding: 10px 20px 44px 20px;
}
.person .social-icons{
    /* margin-top: -50px; */
}



.person-image{
    top: -100px;
    display: flex;
    height: 185px;
    width: 185px;
    margin: auto;
    position: relative;
    border: 7px solid #B088F9;
    border-radius: 50%;
    overflow: hidden;
}
.person-image img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
    position: relative;
    object-fit:cover;
    object-position:top center;
}

.social-icons ul li{
    height: 34px;
    width: 34px;
    display: inline-block;
    list-style: none;
    background-color: #B088F9;
    position: relative;
    border-radius: 50%;
    margin: 0 2px;
}
.social-icons ul li img{
    height: 17px;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(50%, 50%);
}

/*===========
Price Section
===========*/
.pricing{
    min-height: 850px;
    text-align: center;
}
.pricing h5{
    margin-top: 120px;
}
.pricing h2{
    margin-bottom: 60px;
}



.options{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 23px;
    justify-content: space-between;
    position: relative;
}

.options .plan{
    width: 100%;
    background-color: #F9FAFF;
    border-radius: 5px;
}
.options .plan:hover{
    background-color: #ffffff;
    box-shadow: 0 5px 40px -10px rgb(0, 0, 0, 0.1);
    transition: 0.4s;
}
.options .plan:hover .price-btn{
    background-color: #FEB82C;
}
.options .plan:hover h5{
    color: #FEB82C;
}
.options .plan h5{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(31, 193, 169);
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 0;
}
.options .plan .amount{
    font-size: 40px;
    font-weight: 500;
    color: #383838;
    margin: 0 auto;
    width: 70%;
}
.options .plan .amount sup{
    font-size: 20px;
    color: #cccccc;
    padding-right: 13px;
}
.options .plan .amount sub{
    font-size: 12px;
    color: #9b9b9b;
    font-weight: 400;
}
.options .plan ul li{
    list-style: none;
    padding: 12px 30px;
    color: #383838;
    font-size: 16px;
    font-weight: 400;
}
.options .plan ul li img{
    width: 10px;
    padding-right: 5px;
}
.options .plan ul .inactive{
    color: rgba(56, 56, 56, 0.3);
    font-weight: 500;
}

.options .plan .price-btn{
    color: #fff;
    background-color: rgb(31, 193, 169);
    padding: 17px 32px;
    margin-top: 17px;
    margin-bottom: 40px;
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.05);
}

.options .plan .price-btn:hover{
    box-shadow: none;
    background-color: #FEB82C;
}



.pricing .options .plan-selected{
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.05);
    transition: 0.3s;
}
.pricing .options .plan-selected .price-btn{
    background-color: #FEB82C;
}
.pricing .options .plan-selected h5{
    color: #FEB82C;
}